

html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  nav {
    width: 100%;
    /* background-color: #8b8b; */
    padding: 10px 10px 10px 30px;
  }

  .navlinks {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .navitem {
    text-transform: uppercase;
  }

  .navitem button {
    text-transform: uppercase;
  }
  
  .navitem a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
  }
  
  .navitem:hover {
    color: #f4f4;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0058DC; */
    background-color: #0d6efd;
  }

  .login {
    justify-content: space-evenly;
  }

  .logo {
    display: inline-block;
    text-decoration: none;
  }

  .logo img {
    width: 175px;
    vertical-align: middle;
    margin-left: 50px;
  }
  
  /* .list {
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
} */

.brand {
    margin-left: 10px;
}

.toggler {
    margin-right: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.input {
  margin: 10px;
  padding: 10px;
}

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
}

.dropmenu button {
  text-transform: uppercase;
  color: #fff;
}