.input {
    padding: 10px;
    font-size: 30px;
    border: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
}

/* input:focus {
    outline: none;
} */

.input[name=main_search] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
} 

.input[name=location_search] {
    border-right: none;
} 

button {
    border: 1px;
    border-style: solid;
    border-color: rgb(184, 184, 184);
    background-color: #fff;
    font-size: 27px;
    padding: 10px;
}

button[type=btn-location] {
    border-left: none;
}

button[type=submit] {
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button[type=btn] {
    border: none;
}

.results {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    /* text-align: left;
    margin-left: 27%;
    margin-top: 5%; */
}

.searchform {
    margin: 15px 0;
    margin-top: 5%;
}